$basicBgColor: #f9f8f8;

.basic-1 {
  background-color: $basicBgColor;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    margin-bottom: 1.875rem;
  }

  .text-container {
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 1.875rem;
  }

  .btn-solid-reg {
    cursor: pointer;
  }
}

/*********************/
/*     Details 2     */
/*********************/
.basic-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;

  p {
    font-size: 1.3rem;
    margin-bottom: 1.875rem;
  }

  h2 {
    margin-bottom: 1.875rem;
  }

  .image-container {
    margin-bottom: 5rem;
  }

  .list-unstyled {
    .fas {
      font-size: 0.375rem;
      line-height: 1.625rem;
    }

    .flex-grow-1 {
      margin-left: 0.5rem;
    }
  }
}
