@import "../variables.scss";

$featureBackground: #efebfd;
$featureCardIconDefault: #8763ee;
$featureCardIconFirstType: #defaeb;
$featureIconFirstType: #00d462;
$featureCardIconSecondType: #e2ebfd;
$featureIconSecondType: #1f68f3;

.cards-1 {
  padding-top: 9rem;
  padding-bottom: 1.25rem;
  text-align: center;
}

.cards-1 .heading {
  margin-bottom: 3.75rem;
}

.cards-1 .h2-heading span {
  color: $secondaryColor;
  text-decoration: underline;
}

.cards-1 .card {
  margin-bottom: 5rem;
  border: none;
  background-color: transparent;
}

.cards-1 .card-icon {
  width: 76px;
  height: 76px;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  border-radius: 10px;
  background-color: $featureBackground;
}

.cards-1 .card-icon .fas,
.cards-1 .card-icon .far {
  color: $featureCardIconDefault;
  font-size: 2.5rem;
  line-height: 76px;
}

.cards-1 .card-icon.green {
  background-color: $featureCardIconFirstType;
}

.cards-1 .card-icon.green .fas,
.cards-1 .card-icon.green .far {
  color: $featureIconFirstType;
  font-size: 2.5rem;
  line-height: 76px;
}

.cards-1 .card-icon.blue {
  background-color: $featureCardIconSecondType;
}

.cards-1 .card-icon.blue .fas,
.cards-1 .card-icon.blue .far {
  color: $featureIconSecondType;
}

.cards-1 .card-title {
  margin-bottom: 1rem;
}

.cards-1 .card-body p {
  margin-bottom: 1.125rem;
}
