@import "../variables.scss";

.footer {
  padding-top: 6.5rem;
  padding-bottom: 2rem;
  background-color: $primaryColor;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  h6 {
    font-size: 34px;
    margin-bottom: 0.625rem;
    color: #ffffff;
    opacity: 0.8;
  }

  p,
  ul {
    color: #ffffff;
    opacity: 0.8;

    li {
      margin-bottom: 0.375rem;
    }
  }

  .footer-col {
    margin-bottom: 3rem;

    .fa-stack {
      width: 2em;
      margin-bottom: 1.25rem;
      margin-right: 0.375rem;
      font-size: 1.375rem;

      .fa-stack-2x {
        color: #ffffff;
        transition: all 0.2s ease;
      }

      .fa-stack-1x {
        color: $primaryColor;
        transition: all 0.2s ease;
      }

      &:hover {
        .fa-stack-2x {
          color: $primaryColor;
        }
        .fa-stack-1x {
          color: #ffffff;
        }
      }
    }
  }

  .first {
    p {
      margin-top: 20px;
      font-size: 20px;
    }
  }
}
