@import "../variables.scss";

body {
  font: "Open Sans", sans-serif;
}

h1 {
  color: $primaryColor;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.4px;
}

h2 {
  color: $primaryColor;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.625rem;
  letter-spacing: -0.4px;
}

h3 {
  color: $primaryColor;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.2px;
}

h4 {
  color: $primaryColor;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.125rem;
  letter-spacing: -0.2px;
}

h5 {
  color: $primaryColor;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: $primaryColor;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

a {
  color: $linkColor;
  text-decoration: underline;

  &:hover {
    color: $linkColor;
    text-decoration: underline;
  }
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid $primaryColor;
  border-radius: 30px;
  background-color: $primaryColor;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
  margin: auto;

  &:hover {
    background-color: transparent;
    color: $primaryColor;
    text-decoration: none;
  }
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid $primaryColor;
  border-radius: 30px;
  background-color: $primaryColor;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background-color: transparent;
    color: $primaryColor;
    text-decoration: none;
  }
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid $secondaryColor;
  border-radius: 30px;
  background-color: transparent;
  color: $secondaryColor;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background-color: $linkColor;
    color: #ffffff;
    text-decoration: none;
  }
}

.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid $secondaryColor;
  border-radius: 30px;
  background-color: transparent;
  color: $secondaryColor;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background-color: $secondaryColor;
    color: #ffffff;
    text-decoration: none;
  }
}
